
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mannatthemes.com/zoovara/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 26 Dec 2022 08:40:34 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive bootstrap Personal template">
    <meta name="author" content="Mannatthemes">

    <link rel="shortcut icon" href="/assetsSelectCV/images/favicon.ico">

    <title>Zoovara - Responsive Personal Template</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/assetsSelectCV/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/assetsSelectCV/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assetsSelectCV/css/style.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->


</head>


<body>
 
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto text-center mb-5">
                    <i class="mdi mdi-pinwheel-outline text-primary font-24 mr-2"></i>
                    <h3 class="mb-3 section-title">Please select design for CV</h3>
                    <p class="text-muted font-14">Zoovara is a latest Bootstrap 4. It is fully responsive.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="demo-box">
                        <a href="/CV/LightIndex" target="_blank">
                            <img src="/assetsSelectCV/images/shots/horizontal.png" alt="demo-img" class="img-fluid">
                        </a>

                        <h4>Horizontal</h4>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="demo-box">
                        <a href="/CV/IndexVertical" target="_blank">
                            <img src="/assetsSelectCV/images/shots/vertical.png" alt="demo-img" class="img-fluid">
                        </a>

                        <h4>Vertical</h4>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="demo-box">
                        <a href="/CV/IndexHorizantelDark" target="_blank">
                            <img src="/assetsSelectCV/images/shots/horizontal-dark.png" alt="demo-img" class="img-fluid">
                        </a>

                        <h4>Horizontal Dark</h4>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="demo-box">
                        <a href="/CV/IndexVerticalDark" target="_blank">
                            <img src="/assetsSelectCV/images/shots/vertical-dark.png" alt="demo-img" class="img-fluid">
                        </a>

                        <h4>Vertical Dark</h4>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="demo-box">
                        <a href="horizontal-rtl/index.html" target="_blank">
                            <img src="/assetsSelectCV/images/shots/horizontal-rtl.png" alt="demo-img" class="img-fluid">
                        </a>

                        <h4>Horizontal RTL</h4>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="demo-box">
                        <a href="vertical-rtl/index.html" target="_blank">
                            <img src="/assetsSelectCV/images/shots/vertical-rtl.png" alt="demo-img" class="img-fluid">
                        </a>

                        <h4>Vertical RTL</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="demo-box">
                        <a href="horizontal-demo-2/index.html" target="_blank">
                            <img src="/assetsSelectCV/images/shots/horizontal-demo2.png" alt="demo-img" class="img-fluid">
                        </a>
                        <h4>Particle Demo</h4>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="demo-box">
                        <img src="/assetsSelectCV/images/shots/print.png" alt="demo-img" class="img-fluid">
                        <h4>Black & White Print</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="copyright text-dark mb-0">
                        ©
                        <script>document.write(new Date().getFullYear())</script> Mannatthemes.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/assetsSelectCV/js/jquery.min.js"></script>
    <script src="/assetsSelectCV/js/bootstrap.bundle.min.js"></script>
    <!--common script for all pages-->
    <script src="/assetsSelectCV/js/jquery.app.js"></script>

</body>

<!-- Mirrored from mannatthemes.com/zoovara/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 26 Dec 2022 08:40:40 GMT -->
</html>